name: Youth_Gain

on:
  workflow_dispatch:
  schedule:
     - cron: '5 4 * * *'
  watch:
    types: started
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    env:
        YOUTH_START: ${{ secrets.YOUTH_START }}
        YOUTH_START2: ${{ secrets.YOUTH_START2 }}
        YOUTH_START3: ${{ secrets.YOUTH_START3 }}
        YOUTH_LOOK: ${{ secrets.YOUTH_LOOK }}
        YOUTH_LOOK2: ${{ secrets.YOUTH_LOOK2 }}
        YOUTH_LOOK3: ${{ secrets.YOUTH_LOOK3 }}

        TZ: Asia/shanghai

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          npm install

      - name: '运行 【中青看点浏览赚&看看赚一】'
        if: env.YOUTH_START
        run: |
          node youth_gain.js
        env:
          YOUTH_START: ${{ secrets.YOUTH_START }}
          YOUTH_LOOK: ${{ secrets.YOUTH_LOOK }}

      - name: '运行 【中青看点浏览赚&看看赚2】'
        if: env.YOUTH_START2
        run: |
          node youth_gain.js
        env:
          YOUTH_START: ${{ secrets.YOUTH_START2 }}
          YOUTH_LOOK: ${{ secrets.YOUTH_LOOK2 }}
          
      
      - name: '运行 【中青看点浏览赚&看看赚3】'
        if: env.YOUTH_START3
        run: |
          node youth_gain.js
        env:
          YOUTH_START: ${{ secrets.YOUTH_START3 }}
          YOUTH_LOOK: ${{ secrets.YOUTH_LOOK3 }}
