name: Youth_Read
# 每日早9点到晚8点每2小时运行一次
on:
  workflow_dispatch:
  schedule:
     - cron: '20 */3 * * *'
  watch:
    types: started
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    env:
        YOUTH_READ: ${{ secrets.YOUTH_READ }}
        YOUTH_READ2: ${{ secrets.YOUTH_READ2 }}
        YOUTH_READ3: ${{ secrets.YOUTH_READ3 }}
        YOUTH_READ4: ${{ secrets.YOUTH_READ4 }}
        YOUTH_READ5: ${{ secrets.YOUTH_READ5 }}
        YOUTH_READ6: ${{ secrets.YOUTH_READ6 }}
        YOUTH_READ7: ${{ secrets.YOUTH_READ7 }}
        YOUTH_READ8: ${{ secrets.YOUTH_READ8 }}
        YOUTH_READ9: ${{ secrets.YOUTH_READ9 }}
        YOUTH_READ10: ${{ secrets.YOUTH_READ10 }}

        TZ: Asia/shanghai

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          npm install

      - name: '运行 【中青看点自动阅读一】'
        if: env.YOUTH_READ
        run: |
          node youth_read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ }}

      - name: '运行 【中青看点自动阅读2】'
        if: env.YOUTH_READ2
        run: |
          node youth_read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ2 }}
          
      - name: '运行 【中青看点自动阅读3】'
        if: env.YOUTH_READ3
        run: |
          node youth_read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ3 }}

      - name: '运行 【中青看点自动阅读4】'
        if: env.YOUTH_READ4
        run: |
          node youth_read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ4 }}

      - name: '运行 【中青看点自动阅读5】'
        if: env.YOUTH_READ5
        run: |
          node youth_read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ5 }}

      - name: '运行 【中青看点自动阅读6】'
        if: env.YOUTH_READ6
        run: |
          node youth_read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ6 }}

      - name: '运行 【中青看点自动阅读7】'
        if: env.YOUTH_READ7
        run: |
          node youth_read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ7 }}

      - name: '运行 【中青看点自动阅读8】'
        if: env.YOUTH_READ8
        run: |
          node youth_read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ8 }}

      - name: '运行 【中青看点自动阅读9】'
        if: env.YOUTH_READ9
        run: |
          node youth_read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ9 }}

      - name: '运行 【中青看点自动阅读10】'
        if: env.YOUTH_READ10
        run: |
          node youth_read.js
        env:
          YOUTH_READ: ${{ secrets.YOUTH_READ10 }}
